{% extends 'index.html' %}

{% block content %}
    <div class="contact-clean">
		{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <form action='' method="post">
		{% csrf_token %}
            <h2 class="text-center">Add categories</h2>

            <div class="form-group"><input class="form-control" type="text" name="norminate" placeholder="first normination"></div>
            <div class="form-group"><input class="form-control" type="text" name="norminate3" placeholder="first normination"></div>
            <div class="form-group"><input class="form-control" type="text" name="norminate4" placeholder="first normination"></div>
            <div class="form-group"><input class="form-control is-invalid" type="text" name="norminate2" placeholder=" second normination"><small class="form-text text-danger">Please categories.</small></div>
            <div class="form-group"><textarea class="form-control" name="poll" placeholder="poll" rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">sUBMIT</button></div>
        </form>
    </div>
  {% endblock  %}
